@import url('https://fonts.googleapis.com/css?family=Kaushan Script');

.wrapper {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    background-color: #f8ebcf;
    border-radius: 15px;
    padding: 15px;
    box-shadow: -10px 2px 5px -5px #333, 10px 2px 5px -5px #333;
}

header{
    background-image: url("./images/logo.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 40%;
    padding:60px;
    text-align: right;
    font-family: 'Kaushan Script'
}


body{
    background-color: #e5b449;
}

ul{
    list-style-type: none;
}
nav, .browser, li{
    border: 2px solid black;
    border-radius: 15px;
}
nav li{
    margin-left: 15px;
}

.browser li{
    margin-bottom: 15px;
}
li{
    text-align: center;
    height: 50px;
    width: 150px;
    line-height: 30px;
    box-shadow: 3px 2px 3px black;
}
nav{
    display: flex;
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
}
nav ul{
    display: flex;
    flex-wrap: wrap;
    padding: 0px
}

a:hover {
    background-color: #e5b449;
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
}
a{
    text-decoration: none;
    color:black;
}

a:visited{
    color: black;
}
a:active{
    color:black;
}
.browser{
    display: inline-block;
    float: left;
    padding: 20px;
    width: 200px;
    
}
.browser li{
    width: 200px;
}

nav a, .browser a{
    display:inline-block;
    width:100%;
    height:100%;
    border-radius: 15px;
    line-height: 50px;
}


nav li{
    margin-bottom: 15px;
}

table, td{
    border:2px solid black;
    border-collapse: collapse;
}
td{
    padding: 10px;
}

.mainTable{
    padding: 10px;
    margin-left :auto;
    margin-right: auto;
}


.browser ul{
    padding: 2px;
}
main{
    display: inline-flex;
    width: 100%;
}

.distanceCalc, .customRequest{
    border:2px solid black;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 3px 2px 3px black
}

/*720 css*/
@media screen and (max-width: 1400px) {

    .wrapper{
        width: 80%;
    }

    nav li{
        width: 120px;
    }
}
